/* =============
    About
============= */

#about {
    h1 {
        text-align: center;
        font-weight: 300;
        font-size: rem-calc(22);
        @include lg {
            font-size: rem-calc(37);
        }
    }
    h2 {
        text-align: center;
        color: $teal;
        font-size: rem-calc(30);
        padding-bottom: 30px;
        @include md {
            padding-bottom: 50px;
        }
        @include lg {
            font-size: rem-calc(57);
            padding-bottom: 90px;
        }
    }

    p {
        line-height: 20px;
        @include lg {
            font-size: rem-calc(25);
            line-height: 41px;
        }
    }
    section {


            text-align: center;

            @include sm {
                text-align: left;

            }

            div {
                @include sm {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-bottom: 10px;
                }
            }
            img {
                height: 45px;

                @include lg {
                    height: 50px;
                }
            }
            h3 {
                font-weight: 600;
                color: $teal;
                font-size: rem-calc(20);
                padding: 10px 0;
                @include sm {
                    padding-left: 10px;
                }

                @include lg {
                    font-size: rem-calc(27);
                }
            }

    }

    article {

        @include md {
            display: grid;
            grid-template-columns: auto 50px auto;
            grid-template-areas: "branding . design";
            // grid-gap: 30px;
        }

        @include lg {
            grid-template-columns: 10% auto 15% auto 10%;
            grid-template-areas: ". branding . design .";

        }

        @include xl {
            grid-template-columns: auto 500px 15% 500px auto;
            grid-template-areas: ". branding . design .";

        }


        section:nth-child(1) {

            @include md {
                grid-area: branding;
            }
            p {
                padding-bottom: 40px;
                @include md {
                    padding-bottom: 0;
                }
            }

        }
        section:nth-child(2) {
            grid-area: design;
        }
    }


}
