/* =============
    About
============= */

#about {
    h1 {
        text-align: center;
        font-weight: 300;
        font-size: rem-calc(22);
    }
    h2 {
        text-align: center;
        color: $teal;
        font-size: rem-calc(30);
        padding-bottom: 30px;
        @include md {
            padding-bottom: 50px;
        }
    }
    section {


            text-align: center;

            @include sm {
                text-align: left;

            }

            div {
                @include sm {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-bottom: 10px;
                }
            }
            img {
                height: 45px;

            }
            h3 {
                font-weight: 600;
                color: $teal;
                font-size: rem-calc(20);
                padding: 10px 0;
                @include sm {
                    padding-left: 10px;
                }
            }

    }

    article {

        @include md {
            display: grid;
            grid-template-columns: auto 30px auto;
            grid-template-areas: "branding . design";
            // grid-gap: 30px;
        }
        section:nth-child(1) {

            @include md {
                grid-area: branding;
            }
            p {
                padding-bottom: 40px;
                @include md {
                    padding-bottom: 0;
                }
            }

        }
        section:nth-child(2) {
            grid-area: design;
        }
    }


}
