/* =============
    Footer
============= */
footer{
    background-color: $teal;
    padding: 52px 0 39px;
    text-align: center;
    p {
        font-size: rem-calc(20);
        font-weight: 700;
        padding-bottom: 17px;
        span {
            color: $white;
        }

    }

    a {
        color: $black;
        font-size: rem-calc(30);
        padding: 0 10px;
    }

}
